@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -2px;
}

.cursor {
  background-color: white;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}
